.RegisterNow{
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #4C4C4C;
    padding: 2rem;
    text-align: center;
    position: relative;
}


.RegisterNow h1{
    color: var(--main-bg-color) !important;
    line-height: 3.5rem !important;
    text-transform: uppercase;
    z-index: 1000;
    
}

.RegisterNow h2{
    color: var(--accent-color) !important;
    text-transform: uppercase;
    z-index: 1000;
    
}

.RegisterNow button{
    padding: .8rem 2.5rem;
    margin: 2rem 0 ;
    z-index: 1000;
}

.LogoBracket{
    display: flex;

    width: 50vw;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    margin: 1rem 0 2rem;
    z-index: 1000;
}

.LogoBracket img{
    height: 180px;
}
.RegisterNow svg{
    position:absolute;
    height: 50vh;
    left: 5px;
    bottom: 5px;
    z-index: 0;
}
/* Large screens ----------- */
@media only screen and (min-width : 1824px)  {
    .LogoBracket{width: 50vw;}
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px)  {
    .LogoBracket{width: 80vw;}

}



@media only screen and (min-width : 768px) and (max-width : 1024px)  {
    .LogoBracket{width: 80vw;}
}


/*  Small Catch all*/
@media only screen and (max-width : 768px)  {
    .LogoBracket{width: 100vw;}

    }

@media only screen and (max-width : 480px)  {
    .LogoBracket{width: 100vw;}

    .RegisterNow svg{width: 90vw;}
    .LogoBracket img{
        height: 120px;
    }
    .RegisterNow h1{
        font-size: 2rem !important;
        line-height: 2.5rem !important;
        
        
    }
    
    .RegisterNow h2{ }

}