section .custom_shape_divider_bottom_1637977908 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    padding: 0 !important;
    z-index: 100;
}

section .custom_shape_divider_bottom_1637977908 svg {
    position: relative;
    display: block;
    width: 100%;
    height: 300px;
    left: 0;
    bottom: 9px;
}