.WantToPlay{
    background-color: #FBFDFF;
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: space-between;
    padding: 4rem;
    height: 80vh;
    position: relative;
    overflow: hidden;

}
.WantToPlay div{ z-index: 100;}
.WantToPlay h2{
    text-align: left;
    text-transform: uppercase;
    font-size: 4rem !important;
    line-height: 4rem !important;
    color: var(--Landing-Color-Dark);
    margin: 0 !important;
}
.WantToPlay h1{
    text-align: left;
    text-transform: uppercase;
    font-size: 4rem !important;
    line-height: 4rem !important;
    color: var(--Landing-accent-color);
    margin: 0 !important;
}

.IMG{ display: flex;
}

.ImgCircle{
   width: 40vw;
}

.WantToPlay svg{
    position:absolute;
    bottom:0;
    left: 30vw;
    height: 70vh;
    z-index: 0;
}

.Copy{
    padding: 7rem 0 !important;
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
   
}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px)  {
    .WantToPlay h2{
        font-size: 3.5rem !important;
        line-height: 3.5rem !important;
    }
    .WantToPlay h1{
       
        font-size: 3.5rem !important;
        line-height: 3.5rem !important;
    }
}



@media only screen and (min-width : 768px) and (max-width : 1024px)  {
    .WantToPlay{
        padding: 2rem;
    }
    .WantToPlay h2{
        font-size: 2.5rem !important;
        line-height: 2.5rem !important;
    }
    .WantToPlay h1{
       
        font-size: 2.5rem !important;
        line-height: 2.5rem !important;
    }
}


/*  Small Catch all*/
@media only screen and (max-width : 768px)  {
    .WantToPlay{
        padding: 1rem;
        flex-direction: column;
        min-height: 80vh;
        height: auto;
    }
   
    .WantToPlay h2{
        font-size: 3rem !important;
        line-height: 3rem !important;
    }
    .WantToPlay h1{
       
        font-size: 3rem !important;
        line-height: 3rem !important;
    }
    .WantToPlay div{ padding: 2rem 0 ; 
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 100%;}

    .Copy{
            padding: 7rem 0  0 !important;
        }
    .ImgCircle{ width: 80vw; }
    .WantToPlay svg{left: 10vw;}

    }

@media only screen and (max-width : 480px)  {
    .WantToPlay h2{
        font-size: 2.5rem !important;
        line-height: 2.5rem !important;
    }
    .WantToPlay h1{
       
        font-size: 2.5rem !important;
        line-height: 2.5rem !important;
    }
    .WantToPlay svg{left: 0vw; width: 90vw;}
    }