.BtnRight{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    margin: 10px 0;
    flex-direction: column;
    width: 100%;
}

.BtnGroup{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
}
.BtnGroupRow{
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: flex-start !important;
    align-content: center !important;
    width: 100%;
    margin-bottom: 1rem;
}
.BtnGroupRow button{
    width: 48%;
    line-height: 1rem;
}

.Next{
    background-color: var(--Next-color) !important ;
    color: var(--base-color) !important ;
}
.Next:hover{
    background-color: var(--base-color ) !important ;
    color: var(--Next-color) !important ;
}
.Next:disabled{
    background-color: var(--color-tile-1) !important ;
    color: var(--base-color) !important ;
}

.Next a, .Success a{
    text-decoration: none;
    color: var(--main-bg-colo);
}

.Back{
    background-color: var(--Error-color) !important;
}

.Error svg{
        fill: var(--Error-color)
}

button.Success{ 
  
    background-color: var(--Success-color) !important ;
    color: var(--base-color) !important ;
}
button.Success:hover{ 
   
    background-color: var(--base-color) !important ;
    color: var(--Success-color) !important ;
}

.Success{ 
        fill: var(--Success-color) !important; 
    
    }

    .Sixers, .Sixers a{ 
        background-color: var(--sixers) !important ;
        color: var(--dark-100) !important ;
        text-decoration: none;
    }
    .Thunder, .Thunder a{ 
        background-color: var(--thunder) !important ;
        color: var(--dark-900) !important ;
        text-decoration: none;
    }