
.FormElementGroup{
    border: 1px solid #fff;
    margin: .5rem 1rem 2rem;
    padding: 1rem;
    border-radius: var(--Border-Radius);
    background: var(--base-color);
    box-shadow: var(--DropShadow) var(--DropShadow) var(--DropShadowSpread) #CBDDF4, var(--DropShadowMinus) var(--DropShadowMinus) var(--DropShadowSpread) rgba(255, 255, 255, 0.7);

  }
.FormElementsContainer{
  margin: 1rem 0 ;
  display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
 
}

.FormElementsContainer svg{
  margin: 0 10px 0 0;
  fill: var(--accent-color);
}

.FormTitles h4{
  text-align: right;
    font-weight: 400 !important;
    margin: 0 1rem !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    color: var(--accent-color);;
}

.FormTitles h4 svg{
  margin: 0 0 0 10px;
  fill: var(--accent-color);
}
.Thunder{
  background-color: var(--thunder);
  padding: .2rem ;
  border-radius: var(--Border-Radius);
}

.Sixers{
  background-color:var(--sixers);
  padding: .2rem ;
  border-radius: var(--Border-Radius);
}

.Sixers p,.Thunder p{
  color:  var(--dark-100);
  text-transform: uppercase;
  text-align: center;
  margin: 0 !important;
}