.Outer{
    display: flex;
    flex-direction: column;
}

.BaseLine{
    background-color: var(--base-color);
    z-index: 1000;
    position: relative;
    padding: 3rem 0rem;
    display: flex;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
 
} 
/* Page Width Breaks*/
.FullWidth{ width: 100%;  }
.ContentWidth{  
  
    margin: 0 auto;  
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;}

    .BaseLine div >div.Width100{ flex:0 0 100%;  padding: 1rem; }
    .BaseLine div >div.Width70{ flex:0 0 70%; padding: 1rem;}
    .BaseLine div >div.Width30{flex:0 0 30%;   padding: 1rem;}
 
   

/* Structures*/



.Column{ flex-direction: column;}


/*  Page Headers */

.PageHeaderSmall{
    height: 55vh;
    display: flex;
    flex-direction: column;
    z-index: 100;
    position: relative;
    justify-content: center;
    align-items: center; 
    align-content: center;
    overflow: hidden;
    
}
.HeaderCopy{
    display: flex;
    flex-direction: column;
    z-index: 1000;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    background-color: rgb(255 255 255 / 30%);
    padding: 1rem 2rem;
    border-radius: var(--Title-Border-Radius);
    min-height: 30%;
}
.HeaderCopy h1{ text-align: center;}

.HeaderCopy h1, .HeaderCopy h2{ margin: 0 !important; color:  var(--base-color);}
.FixedHeaderIMG{
    background-size: cover;
    background-position: center top;
    position: fixed;
    width: 100%;
    height: 55vh;
    z-index: 0;
    top:0;
}



.ReactMarkdown h2{
   
    font-family:'Heebo';
   
    line-height: 1.3rem;
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0 1rem;
    padding: 0;
}

.ReactMarkdown h3{
   
    font-family:'Heebo';
   
    line-height: 1.3rem;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 2rem 0 1rem;
    padding: 0;
}

.ReactMarkdown p{
    margin: 1rem 0;
    font-family:'Heebo';
    margin: 0 0 .5rem;
    padding: 0;
    line-height: 1.3rem;
    font-size: 1rem;
    font-weight: 400;
}

.ReactMarkdown strong{
    font-weight: 800;
}
.ReactMarkdown em{
    font-style:italic;  
}

.ReactMarkdown ul, .ReactMarkdown ol{
    padding: 1rem;
}
.ReactMarkdown ul li{
    padding: .3rem 0 ;
    line-height: 1.1rem;
    list-style-type: disc;
}
.ReactMarkdown ol li{
    padding: .3rem 0 ;
    line-height: 1.1rem;
    list-style-type:decimal
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    .ContentWidth{ width: 62rem; }
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px)  {
    .ContentWidth{ width: 58rem; }
}

@media only screen and (min-width : 768px) and (max-width : 1024px)  {
/* Styles */
    .ContentWidth{ width: 42rem; }
    
}


/*  Small Catch all*/
@media only screen and (max-width : 768px)  {
    /* Styles */
    .BaseLine div >div.Width70{ width:90%; }
    .BaseLine div >div.Width30{width:90%;}
  
    }

@media only screen and (min-width : 480px) and (max-width : 768px)  {
    /* Styles */
        .ContentWidth{ width: 54rem; flex-direction: column; }
    }

    @media only screen and (min-width : 320px) and (max-width : 480px)  {
        /* Styles */
            .ContentWidth{ width: 100vw; flex-direction: column; }
        }