.Outer{
    display: flex;
    flex-direction: column;
}

.BaseLine{
    background-color: var(--base-color);
    z-index: 1000;
    position: relative;
    padding: 3rem 0;
    display: flex;
        justify-content: center;
        align-items: flex-start;
        align-content: center;
}
/* Page Width Breaks*/
.FullWidth{ width: 100%; }
.ContentWidth{  
  
    margin: 0 auto;  
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;}


    .BaseLine div >div.Width70{ width: 70%; }
    .BaseLine div >div.Width30{ width: 30%; }
 

/* Structures*/



.Column{ flex-direction: column;}


/*  Page Headers */

.PageHeaderSmall{
    height: 55vh;
    display: flex;
    flex-direction: column;
    z-index: 100;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}
.HeaderCopy{
    display: flex;
    flex-direction: column;
    z-index: 1000;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.FixedHeaderIMG{
    background-size: cover;
    background-position: center top;
    position: fixed;
    width: 100%;
    height: 55vh;
    z-index: 0;
}




.ReactMarkdown p{
    margin: 1rem 0;
    font-family:'Heebo';
    margin: 0 0 .5rem;
    padding: 0;
    line-height: 1.3rem;
    font-size: 1rem;
    font-weight: 400;
}



/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    .ContentWidth{ width: 62rem; }
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px)  {
    .ContentWidth{ width: 62rem; }
}

@media only screen and (min-width : 768px) and (max-width : 1024px)  {
/* Styles */
    .ContentWidth{ width: 54rem; }
}


/*  Small Catch all*/
@media only screen and (max-width : 768px)  {
    /* Styles */
       
        .BaseLine div >div.Width70{ width: 100%; }
        .BaseLine div >div.Width30{ width: 100%; }
    }

@media only screen and (min-width : 480px) and (max-width : 768px)  {
    /* Styles */
        .ContentWidth{ width: 54rem; flex-direction: column; }
    }

    @media only screen and (min-width : 320px) and (max-width : 480px)  {
        /* Styles */
            .ContentWidth{ width: 100vw; flex-direction: column; }
        }