




.RegistrationSection{
    background-color: var(--main-bg-color);
    height: 90vh;
    border-radius: 0 0 var(--Border-Radius) var(--Border-Radius);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-direction: row;

    overflow: hidden;
}

.RegistrationSection:nth-child(even){
    background-color: var(--color-tile-1); 
}
.RegistrationSection:nth-child(odd){
   /*  background-color: var(--main-bg-color); */
}




.HalfSplit{
    display: flex;
    align-items: center;
    align-content: center;
    background-color: #e1ecfb;
    justify-content: flex-start;
    padding: 2rem;
}
.HalfSplit div{
    width: 50%;
}


.column{
    flex-direction: column;
}










@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .RegistrationHeader {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        
    }
  }