.nav{
    background-color: var(--dark-color);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: sticky;
    top:0;
    padding: 0 1rem;
    z-index: 1000;
}

.ul{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    align-items: center;
    align-content: center;
    padding: 2rem;
    background-color: var(--dark-color);
}

.lia a{
    text-decoration: none;
}

.a{ color: var(--dark-color); }
.active{ color: var( --accent-color);}


.navLogo{
    height: 70%;
}

.NavBtn{
    color: var(--base-color) !important;
}