.RegionContainer{
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-bottom: 1px solid var(--dark-300);
    padding-bottom: 1rem;
}
.RegionContainer button{
   display: flex;
   align-self: flex-end;
  
}




.List_col{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: var(--Border-Radius);
    background: var(--base-color);
    box-shadow: var(--DropShadow) var(--DropShadow) var(--DropShadowSpread) #CBDDF4, var(--DropShadowMinus) var(--DropShadowMinus) var(--DropShadowSpread) rgba(255, 255, 255, 0.7);

}

.List{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.List li, .List_col li{
    width: 31%;
    padding: .8rem 0.3rem;
    font-size: .9rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.List li svg, .List_col li svg{
    fill: var(--accent-color);
    margin: 0 5px 0 0;
    cursor: pointer;
}

.List li svg:hover, .List_col li svg:hover{ fill: var(--dark-color);}

.List_col li{
    width: 100%;}

.List_col li a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    text-decoration: none;
    color: var(--accent-color);
    width:100%;
}

.CardContainer{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:stretch;
    align-content: flex-start;
}

.RegionCard{
   
    flex:  0 0 32%;
    margin: 1rem 0 ;
    background: var(--base-color);
    box-shadow: var(--DropShadow) var(--DropShadow) var(--DropShadowSpread) #CBDDF4, var(--DropShadowMinus) var(--DropShadowMinus) var(--DropShadowSpread) rgba(255, 255, 255, 0.7);
   
    border-radius: var(--Border-Radius);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.RegionCard h4{
    text-align: center;
    padding:.5rem 0 !important;
    background-color: var(--dark-color);
    color: var(--base-color);
    width: 100%;
    font-weight: 400 !important;
    margin: 0 !important;
}
.RegionCard p {
    margin: .5rem 0 !important;
    color: var(--dark-color);
}

.RegionCard button{
    margin: 0 0 1rem 0;
}
.RegionCard button a{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


/* Large screens ----------- */
@media only screen and (min-width : 1824px) {}


/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px)  {
    .RegionCard{flex:  0 0 32%;}
}



@media only screen and (min-width : 768px) and (max-width : 1023px)  {
    .RegionCard{flex:  0 0 48%;}
}


/*  Small Catch all*/
@media only screen and (max-width : 768px)  {
 .RegionCard{flex:  0 0 49%;}
    
    }

@media only screen and (max-width : 568px)  {
    .RegionCard{flex:  0 0 100%;}
    }